
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Github Issue Finder</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/simplex/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="script/style.css">

  </head>

  <body>

       <nav class="navbar navbar-inverse bg-primary" style="background-color:black;">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="#" style="color:black">Github Issue Finder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="searchContainer">
        <h1>Search Github Ticket</h1>
        <p class="lead">Enter an issue id or ticket number to search </p>
		<input type="text" id="searchIssue" class="form-control" placeholder="Issue number">
      </div>
	  
	  <br>
    <div id="ticket"></div>
    
    <div id="nodejs"> 
      <h2> {{ }} </h2>
    </div>

    </div><!-- /.container -->

	<script
	  src="https://code.jquery.com/jquery-3.2.1.js"
	  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script/main.js"></script>
	

	
  </body>
</html>
